* {
	margin: 0;
	padding: 0;
}

body {
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

body::-webkit-scrollbar {
	display: none;
}

img {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	z-index: -1;
	opacity: 80%;
}

p {
	font-size: 1.8em;
}

ul {
	width: 420px;
	height: 250px;
	overflow: auto;
	text-align: center;
}

ul::-webkit-scrollbar {
	display: none;
}

li {
	list-style: none;
	font-size: 1.5em;
	margin-top: 10px;
}

li > button {
	border: none;
	background: transparent;
	color: white;
	opacity: 0.5;
	font-size: 0.6em;
	font-weight: 100;
	transform: translate(180%, -20%);
}

button:hover {
	cursor: pointer;
}

.hidden {
	display: none;
}

#clock {
	margin-top: 15%;
	font-size: 7em;
}

#greeting {
	font-size: 2.5em;
	font-weight: 400;
}

#todo-form {
	padding-top: 7vh;
}

#todo-form > input {
	border-left-width: 0;
	border-right-width: 0;
	border-top-width: 0;
	border-bottom-width: 1;
	width: 100%;
	border-color: white;
	background: transparent;
	font-size: 1em;
	color: white;
	font-size: 1.8em;
	text-align: center;
	margin-bottom: 15px;
}

#todo-form > input:focus {
	outline: none;
}

#quote {
	font-size: 0.9em;
	position: fixed;
	bottom: 20px;
	left: 30px;
}

#weather {
	position: fixed;
	top: 20px;
	right: 30px;
}
